* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  color: white;
  letter-spacing: -1px;

  a {
    text-decoration: none;
  }
}

body {
  background: var(--dc-dark);
}

:root {
  --dc-primary: #0282F9;
  --dc-dark: #1C1C1C;
  --dc-l-dark: #303030;
  --dc-gray: #797979;
  --dc-light: #ffffff;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}